#navButtonExit {
  margin-left: 0;
}

.logo-text {
  font-size: larger;
  color: #000;
  font-family: Courier, "Lucida Console", monospace;
}

html {
  overflow: hidden;
}

.p2Container {
  margin-top: 7vh;
  min-height: 100vh;
}

#p2ConvertingButton {
  animation: fadeInFromNone 0.5s ease-in-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes fadeInFromNone {
  0% {
    display: block;
    opacity: .5;
  }

  1% {
    display: block;
    opacity: .5;
  }

  50% {
    display: block;
    opacity: 1;
  }

  100% {
    display: block;
    opacity: .5;
  }
}

.is-hidden {
  display: none;
}

.separator {
  font-weight: 500;
}

.extended2 {
  margin-top: 5px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  font-size: 1rem;
  padding: 10px;
  transform: scale(1.5);
  margin: 3px;
}

#SOProcessFolderContainer {
  user-select: none;
}

#SOSelect {
  user-select: none;
}

#S2Two {
  user-select: none;
}

#S1Label {
  user-select: none;
}

#S2OneLabel {
  user-select: none;
}

#S3Label {
  user-select: none;
}

@media screen and (min-width: 1024px) {
  .navbar-burger {
    display: block;
  }
  .navbar-brand {
    width: 100%;
  }
  #navTop {
    width: 100%;
  }
}
